* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

.container-xl {
  max-width: 1260px;
}

header {
  position: absolute;
  width: 100%;
}
header .navbar {
  padding: 0;
}
header .navbar .navbar-collapse {
  justify-content: flex-end;
}
header .navbar .navbar-collapse a:hover {
  color: #b61984;
}
header .navbar .navbar-collapse li {
  margin-right: 30px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
}
header .navbar .navbar-collapse .navbar-nav a {
  position: relative;
}
header .navbar .navbar-collapse .navbar-nav a::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background-color: #b61984;
  left: 42%;
  bottom: -15px;
  transform: scale(0);
  transition: 300ms ease all;
}
header .navbar .navbar-collapse .navbar-nav a:hover::after {
  transform: scale(100%);
}
header .navbar .navbar-collapse .navbar-nav .active a::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background-color: #b61984;
  left: 42%;
  bottom: -15px;
  transform: scale(100%);
  transition: 300ms ease all;
}
header .navbar .navbar-collapse button {
  background: none;
  border: none;
  border-radius: 25px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin: 0 20px;
  transition: all 0.3s;
  box-shadow: 0 0 0 3em #b61984 inset;
}
header .navbar .navbar-collapse button:hover {
  color: #b61984;
  box-shadow: 0 0 0 1px #b61984 inset;
}
header .navbar .navbar-collapse .header__iconContact a {
  margin: 0 5px;
  font-size: 16px;
}

.aboutUs__carousel {
  background-image: url(../img/Tabula_img03.png), url(../img/Tabula_img04.png);
  background-position: left top, right bottom;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 80px 0;
}
.aboutUs__carousel .carousel__left {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.aboutUs__carousel .carousel__left h5 {
  font-size: 16px;
  font-weight: 600;
  color: #b61984;
}
.aboutUs__carousel .carousel__left h1 {
  font-size: 56px;
  font-weight: 700;
  color: #000000;
}

.members {
  padding: 25px 0;
  background-image: url(../img/Tabula_img13.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  background-color: #dcd1f3;
}
.members .members__content .card {
  margin-top: 26px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  transition: all 0.5s;
}
.members .members__content .card:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.members .members__content .card .card__img {
  overflow: hidden;
}
.members .members__content .card .card__img img {
  transition: all 0.75s;
}
.members .members__content .card .card__img img:hover {
  transform: scale(105%);
}
.members .members__content .card .card-body {
  padding: 20px 32px 30px 32px;
}
.members .members__content .card .card-body h6 {
  font-size: 12px;
  font-weight: 600;
  color: #b61984;
}
.members .members__content .card .card-body h5 {
  font-weight: 700;
}
.members .members__content .card .card-body p {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.findCourse {
  padding: 70px 0;
  background-image: url(../img/Tabula_img15.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
.findCourse .findCourse__left {
  text-align: right;
}
.findCourse .findCourse__left img {
  width: 75%;
}
.findCourse .findCourse__right {
  padding-left: 80px;
}
.findCourse .findCourse__right .courseForm {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  padding: 10px 25px 30px 25px;
  background-color: white;
}
.findCourse .findCourse__right .courseForm h2 {
  font-size: 38px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 50px;
}
.findCourse .findCourse__right .courseForm .form-group {
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 10px 0 10px 40px;
  border-radius: 50px;
  position: relative;
  transition: all 0.2s;
}
.findCourse .findCourse__right .courseForm .form-group:focus-within {
  border: 1px solid #c1c1c1;
}
.findCourse .findCourse__right .courseForm .form-group .formIcon {
  font-size: 14px;
  font-weight: 500;
  color: #b61984;
  position: absolute;
  left: 14px;
  top: 12px;
}
.findCourse .findCourse__right .courseForm input, .findCourse .findCourse__right .courseForm select, .findCourse .findCourse__right .courseForm textarea {
  font-size: 12px;
  font-weight: 400;
  color: #757576;
  outline: none;
  border: none;
  width: 90%;
}
.findCourse .findCourse__right .courseForm .textareaGroup {
  border-radius: 20px;
  padding-bottom: 0;
}
.findCourse .findCourse__right .courseForm .textareaGroup textarea {
  width: 99%;
}
.findCourse .findCourse__right .courseForm .sendButton {
  background: none;
  border: none;
  border-radius: 25px;
  padding: 12px 60px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin: 30px 0;
  transition: all 0.3s;
  box-shadow: 0 0 0 3em #b61984 inset;
}
.findCourse .findCourse__right .courseForm .sendButton:hover {
  color: #b61984;
  box-shadow: 0 0 0 1px #b61984 inset;
}

@media screen and (max-width: 992px) {
  .findCourse {
    padding-right: 80px;
  }
  .findCourse .findCourse__right .courseForm {
    width: 100%;
  }
}
footer {
  padding: 80px 0 160px 0;
  background-image: url(../img/Tabula_img16.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;
}
footer h2 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 25px;
}
footer .footer__contactIcon {
  margin-top: 25px;
}
footer .footer__contactIcon a {
  color: white;
  margin-right: 15px;
}
footer .footer__contactIcon a:hover {
  color: #000000;
}
footer .footer__links a {
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding-bottom: 5px;
  border-bottom: 1px solid #990472;
}
footer .footer__links a:hover {
  color: #e4e5e4;
  text-decoration: none;
}
footer li {
  margin-bottom: 15px;
}
footer .footer__letter .subcribeButton {
  background: none;
  border: none;
  border-radius: 25px;
  padding: 12px 60px;
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-top: 10px;
  width: 100%;
  transition: all 0.3s;
  box-shadow: 0 0 0 3em white inset;
}
footer .footer__letter .subcribeButton:hover {
  color: white;
  box-shadow: 0 0 0 1px white inset;
}
footer .footer__letter .letterForm {
  width: 100%;
  border: 1px solid #b3298b;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.3s;
}
footer .footer__letter .letterForm:focus-within {
  border: 1px solid white;
}
footer .footer__letter .letterForm input {
  font-size: 12px;
  font-weight: 400;
  color: white;
  outline: none;
  border: none;
  background-color: #a9027e;
  width: 100%;
}
footer .footer__letter .letterForm input::placeholder {
  color: white;
}/*# sourceMappingURL=main.css.map */