@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin styleButton($bg, $border, $radius, $pd-y, $pd-x){
    background: $bg;
    border: $border;
    border-radius: $radius;
    padding: $pd-y $pd-x;
}

@mixin styleButtonHover($bg-hover, $boder-hover, $color-hover) {
    background: $bg-hover;
    border: $boder-hover;
    color: $color-hover;
}

@mixin responsive($screen){
    @if(map-has-key($map: $breakpoints, $key: $screen)){
        $value: map-get($map: $breakpoints, $key: $screen);
        @media screen and (max-width: $value){
            @content;
        }
    }
    @else{
        @warn 'màn hình không tồn tại'
    }
}
